
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  font-family: "Lato", sans-serif;
}

.resume {
  width: 618px;
  margin: 0 auto;
  display: flex;
}

.left {
  width: 34%;
  background: #203a52;
  color: #fff;
  padding: 30px 32px;
  font-family: "Lato", sans-serif;
  font-size: 10px;
  line-height: 1.6;
}

.photo {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.photo img {
  width: 135px;
  height: 135px;
  border-radius: 50%;
}

.left-title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.5px;
  margin: 18px 0 2px;
}

.left-divider {
  height: 1.5px;
  background: #afb9c3;
}

.contact p {
  display: flex;
  align-items: center;
  margin: 5px 0px 12px;
}

.contact i {
  width: 14px;
  font-size: 11px;
  margin-right: 8px;
}

.contact p span {
  color: #aab4bf;
}

.left strong {
  font-weight: 700;
}

.left ul li {
  margin-bottom: 6px;
  color: #b8c1ca;
}
.left ul {
  padding: 5px;
}
.right {
  width: 66%;
  padding: 42px 25px;
  font-size: 10px;
  color: #2f2f2f;
  line-height: 1.6;
  background: #fff;
}
.right header {
  margin-left: 25px;
  margin-top: 15px;
}
.name {
  font-size: 28px;
  font-weight: 800;
}

.name span {
  color: #344f67;
  font-weight: 500;
}

.role {
  font-size: 14px;
  letter-spacing: 1px;
}

.name-divider {
  width: 56px;
  height: 3px;
  background: #203a52;
}

.profile-section{
  margin-top: 75px;
}

.right-title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 22px 0 0;
  color: #29475f;
}

.right-divider {
  height: 1.5px;
  background: #687c8d;
  margin-bottom: 5px;
}

.profile-text {
  color: #555;
}

.job {
  margin-bottom: 16px;
}

.job-head {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-weight: 700;
}

.job-date {
  font-weight: 400;
  color: #666;
}

.job-title {
  font-weight: 700;
  margin: 2px 0 6px;
}

.job ul {
  padding-left: 14px;
}

.job ul li {
  list-style: disc;
  margin-bottom: 4px;
}
.job .job-head ul li::marker {
  font-size: 15px;
}
.job .job-title {
  margin-left: 15px;
  margin-top: 0;
}
.job .job-description {
  padding-left: 30px;
}
.references {
  display: flex;
  justify-content: space-between;
}

.references strong {
  font-weight: 700;
}

.left .language-section li, 
.education-details ul li{
  margin-bottom: 0px;
}
.education-details {
  margin: 10px 0px;
}

.referece-section .reference-detail-container {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  padding-right: 20px;
}

.referece-section .reference-detail-container article span {
  padding-left: 10px;
}
