html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    background-color: #faf9f8;
    font-family: "Segoe UI",
    "Segoe UI Web (West European)",
    Segoe,
    -apple-system,
    system-ui,
    Roboto,
    "Helvetica Neue",
    Tahoma,
    Helvetica,
    Arial,
    sans-serif;
    font-size: 12px;
}

.todo-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #2564cf;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  color: #fff;
}

.sideBar {
  display: block;
  background-color: #ffffff;
  width: 300px;
}

.todo-launch-container {
  display: flex;
  align-items: center;
}

.icons {
  overflow: hidden;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons:hover {
  background-color: #005a9e;
  cursor: pointer;
}

.material-symbols-outlined {
  font-weight: 300 !important;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 0px 10px;
}
a:hover {
  text-decoration: underline;
}

.settings-container {
  display: flex;
}

.profile-name {
  font-size: 12px;
  padding: 8px 7px;
  border: 1px solid;
  border-radius: 50%;
}

.search-container {
  background: #fff;
  height: 35px;
  display: flex;
  justify-content: center;
  width: 30%;
  border-radius: 5px;
}

.searchBox {
  border: none;
  width: 80%;
  outline: none;
}

.searchBox::placeholder {
  font-size: 16px;
  /* display: flex;
  justify-content: center; */
  padding: 0;
  /* color:;   */
}

.main-container {
  display: flex;
  flex: 1;
  /* height: 100%; */
}

.side-menu-hamburger-icon {
  height: 48px;
  margin-top: 16px;
  padding-left: 24px;
}

.side-menu-button-container ul {
  margin: 0px;
  padding: 0px;
}
.side-menu-button-container ul li {
  list-style-type: none;
}

.active {
    background-color: #f0f6fc !important;
}

.side-menu-btn {
  width: 100%;
  height: 44px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  color: #767675;
  margin: 0px;
  padding: 0px;
}

.side-menu-button-container .side-menu-btn-icon {
  margin: 0px 18px 0px 24px;
  font-size: 20px;
}

.divider {
  margin: 10px 18px;
  height: 1px;
  background-color: #e1dfdd;
}
.sidBar-new-menu {
  display: flex;
  align-items: center;
  height: 44px;
  justify-content: space-around;
  color: #3970d3;
}

.add-new-menu {
  display: flex;
}

.add-new-menu-icon {
  color: #3970d3;
}

.add-new-menu-btn {
  width: fit-content;
}

.new-menu-list-input {
    border: none;
    padding-left: 16px;
    outline: none;
}

.main-content-area {
    flex: 1;
}
.toolbar-container {
    margin: 24px;
}

.add-task-container {
    height: 50px;
    margin: 24px;
    border: 1px solid #e8e7e6;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 0px 16px;
    color: #2564cf;
}

.add-task-container .add-task-input {
    width: 100%;
    border: none;
    outline: none;
    color: #767675;
}

.task-list {
    height: 100%;
    max-height: 550px;
    overflow: scroll;
}

.task-item {
    height: 44px;
    background: #fff;
    margin: 0px 24px;
    display: flex;
    align-items: center;
    padding: 0px 16px;
    font-size: 12px;
    border-bottom:1px solid #e8e7e6;
    color: #767675;
}