.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #222;
  border-radius: 10px;
  color: white;
  width: 600px;
}

.row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  /* align-items: flex-start; */
}

input, select {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #aaa;
  background: #333;
  color: white;
  margin: 0px 5px;
}

.error {
  color: #ff6b6b;
  font-size: 12px;
  /* display: block; */
  margin-top: 4px;
}

.btn-submit {
  background: green;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border: 1px solid #555;
}
.form-group {
  display: flex;
  align-items: center;

  margin-bottom: 12px;
}

.form-group label {
  width: 110px;
  flex-shrink: 0;
  text-align: left;
}

.form-group input {
  flex: 1;
}

